* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

/* Base Styles - Mobile */

/* flex-box container */
.flex-container {
    display: flex;
    flex-flow: row nowrap;
}

.flex-col {
    padding: 5px;
}

.flex-col-side {
    flex: 1;
}

.flex-col-mid {
    flex: 6;
}

/* CSS HEADER GRID */
.header-grid {
    display: grid;
    width: 100%;
    grid-gap: 2px;
    grid-template-columns: auto;
    justify-content: center;
}


.mast-1 {
    font-family: 'Open Sans', 'Maven Pro', sans-serif;
    text-align: right;
    font-size: 100%px;
    margin: 10px 0 0 0;
}

.mast-2 {
    font-family: 'Maven Pro', 'Abel', sans-serif;
    text-align: right;
    color: #aaa6a6;
    margin: 10px 0 0 0;
}

.logo {
    display: inline-block;
    width: 50%;
    height: auto;
}

/* CSS GRID SECTION */
/* Grid display for feature links */
.grid-container {
    display: grid;
    width: 100%;
    grid-row-gap: 50px;
    grid-template-columns: auto;
    justify-content: center;
}

.grid-container > div {
    text-align: center;
}

.item > h3 {
    text-align: center;
    font-size: 24px;
    margin: 10px;
    font-family: 'Maven Pro', 'Abel', sans-serif;
    text-transform: uppercase;
}

.item > span {
    display: inline-block;
    font-family: 'Abel', sans-serif;
    font-size: 14px;
    text-align: center;
    text-transform: lowercase;
}

.feat-img {
    width: 250px;
    height: 175px;
    opacity: 1.0;
}

.feat-img:hover {
    opacity: 0.5;
}

/* END CSS GRID SECTION */

hr {
    height: 10px;
    width: 100%;
    border: 0;
    box-shadow: 0 8px 4px -7px #000 inset;
}


img.main {
    display: block;
    width: 100%;
    height: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.4);
}

section h2 {
    font-family: 'Maven Pro', 'Abel', sans-serif;
    text-align: center;
    font-size: 28px;
    margin: 40px 0px 10px 0px;
}

footer {
    height: 80px;
    width: 100%;
}

footer p {
    font-family: 'Abel', sans-serif;
    font-size: 12px;
    text-align: center;
    padding: 50px 0px 0px 0px;
}


/* Tablet Styles (iPad = 768 px) */
@media only screen and (min-width: 768px) {
    .grid-container {
        grid-gap: 25px;
        grid-template-columns: auto auto;
    }
    
    .header-grid {
        grid-template-columns: auto auto;
    }
    
    .header-item3 {
        grid-column: 1 / 3;
    }
    
    .logo {
        width: 80%;
        /*padding: 15px 0 15px 0;*/
    }
        
    .mast-1 {
        font-size: 42px;
        text-align: right;
        margin: 10px 0px 0px 0px;
    }
    
    .mast-2 {
        text-align: right;
        margin: 0px 0px 10px 0px;
    }
        
    section h2 {
        text-align: center;
    }
}

/* Large Tablet Styles */
@media only screen and (min-width: 1000px) {
    .grid-container {
        grid-template-columns: auto auto auto;
    }
    
    .header-grid {
        grid-template-columns: auto auto auto;
        grid-column-gap: 70px;
    }
    
    .header-item1 {
        grid-column: 1 / 3;
    }
    
    .header-item3 {
        grid-column: 1 / 4;
    }
    
    .logo {
        width: 70%;
        padding: 10px 0 15px 0;
    }
    
        
    section h2 {
        text-align: left;
    }    
}

/* Desktop Styles */
@media only screen and (min-width: 1200px) {
    .grid-container {
        grid-template-columns: auto auto auto;
        justify-content: start;
    }
    
    .header-grid {
        grid-column-gap: 175px;
    }    
}