{% extends "base.html" %}

{% block page_content %}

<h1 class="text-center">Evergreen</h1>
<div class="row">
  <div class="col-xs-6 col-md-12"><br /></div>
</div>
<div class="row">
  <div class="col-xs-6 col-md-3">
    <div class="thumbnail">
      <img src="./static/pinyon.png" alt="...">
      <div class="caption">
        <h3>Pinyon Pine</h3>
        <p>This is pinyon pine......</p>
        <p><a href="#" class="btn btn-success" role="button">Edit</a>
        <a href="#" class="btn btn-danger" role="button">Delete</a></p>
      </div>
    </div>
  </div>
  <div class="col-xs-6 col-md-3">
    <div class="thumbnail">
      <img src="./static/pinyon.png" alt="...">
      <div class="caption">
        <h3>Pinyon Pine</h3>
        <p>This is pinyon pine......</p>
        <p><a href="#" class="btn btn-success" role="button">Edit</a>
        <a href="#" class="btn btn-danger" role="button">Delete</a></p>
      </div>
    </div>
  </div>
  <div class="col-xs-6 col-md-3">
    <div class="thumbnail">
      <img src="./static/pinyon.png" alt="...">
      <div class="caption">
        <h3>Pinyon Pine</h3>
        <p>This is pinyon pine......</p>
        <p><a href="#" class="btn btn-success" role="button">Edit</a>
        <a href="#" class="btn btn-danger" role="button">Delete</a></p>
      </div>
    </div>
  </div>
  <div class="col-xs-6 col-md-3">
    <div class="thumbnail">
      <img src="./static/pinyon.png" alt="...">
      <div class="caption">
        <h3>Pinyon Pine</h3>
        <p>This is pinyon pine......</p>
        <p><a href="#" class="btn btn-success" role="button">Edit</a>
        <a href="#" class="btn btn-danger" role="button">Delete</a></p>
      </div>
    </div>
  </div>
</div>

{% endblock %}
